services:
    database:
        image: postgres:16-alpine
        environment:
            POSTGRES_DB: water_manager
            POSTGRES_PASSWORD: password123
            POSTGRES_USER: symfony
        volumes:
            - db-data:/var/lib/postgresql/data
        ports:
            - "5432:5432"

    php:
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - .:/var/www/html
        environment:
            DATABASE_URL: "postgresql://symfony:password123@database:5432/water_manager?serverVersion=16&charset=utf8"

    nginx:
        image: nginx:alpine
        ports:
            - "8080:80"
        volumes:
            - .:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
        depends_on:
            - php
volumes:
    db-data:
